@keyframes modal-open {
  0% {
    top: -200vh;
  }

  80% {
    top: -70px;
  }

  100% {
    top: -100px;
  }
}

@keyframes modal-bg-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-close {
  0% {
    top: -100px;
  }

  100% {
    top: -200vh;
  }
}

@keyframes modal-bg-close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.signup {
  position: fixed;
  top: -200vh;
  left: 0;
  width: 100vw;
  height: 200vh;
  z-index: 5;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background__modal--hover;
    opacity: 0;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}

.signup-open {
  animation-name: modal-open;

  &::before {
    animation-name: modal-bg-open;
    animation-delay: 0.4s;
  }
}

.signup-close {
  animation-name: modal-close;

  &::before {
    animation-name: modal-bg-close;
    animation-delay: none;
    animation-duration: 0.3s;
  }
}

.signup__wrapper {
  position: relative;
  margin: 204px auto 0 auto;
  padding: 260px 50px 30px 50px;
  width: 740px;
  font-size: 0;
  background-color: $background__light;
  background-image: url("../img/index__signup-bg@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 220px;
  box-shadow: 0 2px 30px 0 $shadow__modal;

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/index__signup-bg@2x.png");
  }
}

.signup__toggle {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 18px;
  height: 18px;
  font-size: 0;
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 2px;
    background-color: $icon-color__light;
    opacity: 0.7;
    transform-origin: 0;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 2px;
    width: 18px;
    height: 2px;
    background-color: $icon-color__light;
    opacity: 0.7;
    transform-origin: 0;
    transform: rotate(-45deg);
  }
}

.signup__title {
  margin: 0;
  font-family: $font-family__heading;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: $font-color__darker;
}

.signup__descriptor {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 29px;
  font-family: $font-family__main;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: $font-color__dark;
}

.signup form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.signup fieldset {
  position: relative;
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
}

.signup input {
  margin-bottom: 20px;
  padding: 34px 19px 11px 19px;
  font-family: $font-family__main;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: $font-color__darker;
  border: 1px solid $border__input--modal;
}


.signup input + label,
.signup label {
  position: absolute;
  top: 14px;
  left: 20px;
  font-family: $font-family__aux;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  color: $font-color__darker;
}

.signup__name,
.signup__phone {
  padding: 34px 19px 11px 19px;
  width: 310px;
}

.signup__name:focus + label {
  color: $font-color__highlight;
}


.signup fieldset:first-of-type {
  margin-right: 20px;
}

.signup input::placeholder {
  font-family: $font-family__main;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: $font-color__medium;
}

@media all and (-ms-high-contrast: none) {
  .signup input:-ms-input-placeholder {
    font-family: $font-family__main;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: $font-color__medium;
  }
}

input.signup__date,
input.signup__time {
  padding-right: 50px;
  width: 155px;
}

.signup__time {
  margin-left: -1px;
}

.signup__icon {
  position: absolute;
  bottom: 34px;
  right: 20px;
  pointer-events: none;
  z-index: 1;
}

.signup__icon use {
  fill: $icon-color__darker;
}

.signup__date:hover ~ .signup__icon use,
.signup__date:focus ~ .signup__icon use,
.signup__time:hover ~ .signup__icon use,
.signup__time:focus ~ .signup__icon use {
  fill: $icon-color__highlight;
}

.signup__date:hover + label,
.signup__date:focus + label,
.signup__time:hover + label,
.signup__time:focus + label {
  color: $font-color__highlight;
}

.signup__date:focus {
  position: relative;
  z-index: 1;
}

.signup__date:focus + label {
  z-index: 1;
}


input.signup__success {
  color: $font-color__highlight;
  border: 1px solid $border__highlight;
}

input.signup__error {
  border: 1px solid $border__input--error;
}

.signup__error {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  max-width: 100%;
  font-family: $font-family__aux;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  color: $font-color__error;
}

.signup__error--disabled {
  display: none;
}

.signup__success {
  color: $font-color__highlight;
  border: 1px solid $border__highlight;
}

.signup__submit {
  display: inline-block;
  padding: 25px 25px 24px 25px;
  margin-left: 20px;
  width: 310px;
  vertical-align: top;
}

.signup .flag-dropdown {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@media (max-width: 1439px) {
  .signup__wrapper {
    margin: 120px auto 0 auto;
  }
}

@media (max-width: 767px) {
  .signup__wrapper {
    margin: 115px auto 0 auto;
    padding: 48px 20px 20px 20px;
    width: 290px;
    background-image: none;
  }

  .signup__toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 12px;
    height: 12px;
    font-size: 0;
    background-color: transparent;
    border: none;

    &::before {
      top: 0;
      left: 0;
      width: 14.5px;
      background-color: rgba(0, 0, 0, 0.39);
    }

    &::after {
      bottom: 0;
      left: 0;
      width: 15px;
      background-color: rgba(0, 0, 0, 0.39);
    }
  }

  .signup__descriptor {
    margin-bottom: 19px;
  }

  .signup__name,
  .signup__phone {
    width: 100%;
  }

  input.signup__date,
  input.signup__time {
    width: 125px;
  }

  .signup__submit {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
}
