.construction__intro {
  background-image: url("../img/technical__intro-bg@1x.jpg");
  background-size: cover;
  background-position: -20px 0;

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/technical__intro-bg@2x.jpg");
  }
}

.construction__intro .intro__title {
  letter-spacing: -0.8px;
}

@media (min-width: $width__tablet) {
  .construction__intro {
    background-position: 0 0;
  }
}
