.footer .container {
  display: flex;
  padding-top: 52px;
  padding-bottom: 50px;
}

.footer__social {
  margin-top: 7px;
}

.footer__icons {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__icon:not(:last-of-type) {
  margin-right: 10px;
}

.footer__social-link {
  display: block;
  width: 35px;
  height: 35px;
  font-size: 0;
  background-color: $background__news;
}

.footer__contacts {
  margin-top: 7px;
  margin-left: 30px;
}

.footer__icon-facebook use,
.footer__icon-youtube use {
  fill: $icon-color__social;
}

.footer__social-link:hover > .footer__icon-facebook use,
.footer__social-link:hover > .footer__icon-youtube use {
  fill: $icon-color__highlight;
}

.footer__address,
.footer__phone {
  display: block;
  font-family: $font-family__main;
  font-size: 14px;
  font-weight: 500;
  line-height: 13px;
  color: $font-color__dark;
}

.footer__phone {
  margin-top: 7px;
}

.footer__menu {
  margin-left: 142px;
}

.footer__copyright {
  margin-left: auto;
  font-family: $font-family__main;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $font-color__medium;
  letter-spacing: 0.2px;
}

.footer__copyright a {
  color: inherit;
}

.footer__developer {
  display: block;
}

@media (max-width: 1439px) {
  .footer__contacts {
    display: none;
  }

  .footer__menu {
    margin: 0 auto;
  }

  .footer__developer + a {
    display: block;
  }
}

@media (max-width: 767px) {
  .footer {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 7px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $border__input--modal;
    }
  }

  .footer .container {
    align-items: center;
    padding-top: 22px;
    padding-bottom: 37px;
  }

  .footer__developer {
    margin-top: 7px;
    margin-right: 3px;
  }

  .footer__developer + a {
    display: none;
  }
}
