.header {
  position: fixed;
  top: 20px;
  width: 100%;
  background-color: $background__hover;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 100% * 15 / 320;
    width: 1px;
    height: 568px;
    background-color: $border__main;
  }

  &::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 100% * 14 / 320;
    width: 1px;
    height: 568px;
    background-color: $border__main;
  }
}

.header > .container {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50px;
  border-top: 1px solid $border__header;
  border-bottom: 1px solid $border__header;
}

.header__link {
  position: relative;
  display: block;
  font-size: 0;
  z-index: 3;
}

@media (min-width: $width__tablet) {
  .header > .container {
    justify-content: space-between;
  }

  .header__sidebar {
    position: absolute;
    top: 150px;
    right: calc(100% * 36 / 768 + 6px);
    display: flex;
    transform-origin: 100%;
    transform: rotate(-90deg);
  }
}

@media (min-width: $width__desktop) {
  .header {
    top: 35px;
    right: 0;

    &::before {
      top: -35px;
      left: 100% * 74 / 1440;
      height: 100vh;
      box-shadow: 315px 0 0 0 $border__main;
    }

    &::after {
      top: -35px;
      right: 100% * 75 / 1440;
      height: 100vh;
      box-shadow: -314px 0 0 0 $border__main;
    }
  }

  .header > .container {
    min-height: 60px;
  }

  .header__sidebar {
    top: 201px;
    right: calc(100% * 74 / 1440 + 7px);
  }
}
