.social {
  display: none;
}

@media (min-width: $width__tablet) {
  .social {
    display: flex;
    justify-content: space-between;
    order: 1;
    margin: 0;
    margin-right: 50px;
    padding: 0;
    width: 155px;
    list-style: none;
  }

  .social__link {
    font-family: $font-family__main;
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    color: $font-color__light;
    opacity: 0.5;
  }
}

@media (min-width: $width__desktop) {
  .social {
    margin-right: 81px;
  }
}
