@font-face {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff"); }

@font-face {
  font-family: "Gotham Pro";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"); }

@font-face {
  font-family: "Playfair Display";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff"); }

html {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  height: 3000px; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0; }

.container {
  min-width: 320px;
  padding: 0 4.6875%; }

@media (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 4.6875%; } }

@media (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding: 0 5.13889%; } }

.header {
  position: fixed;
  top: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 2; }
  .header::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 4.6875%;
    width: 1px;
    height: 100vh;
    background-color: rgba(216, 217, 221, 0.3); }
  .header::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 4.375%;
    width: 1px;
    height: 100vh;
    background-color: rgba(216, 217, 221, 0.3); }

.header > .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  border-top: 1px solid rgba(185, 185, 185, 0.17);
  border-bottom: 1px solid rgba(185, 185, 185, 0.17); }

.header__link {
  position: relative;
  display: block;
  font-size: 0;
  z-index: 3; }

@media (min-width: 768px) {
  .header > .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__sidebar {
    position: absolute;
    top: 150px;
    right: calc(100% * 36 / 768 + 6px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform-origin: 100%;
            transform-origin: 100%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }

@media (min-width: 1440px) {
  .header {
    top: 35px;
    right: 0; }
    .header::before {
      top: -35px;
      left: 5.13889%;
      height: 100vh;
      -webkit-box-shadow: 315px 0 0 0 rgba(216, 217, 221, 0.3);
              box-shadow: 315px 0 0 0 rgba(216, 217, 221, 0.3); }
    .header::after {
      top: -35px;
      right: 5.20833%;
      height: 100vh;
      -webkit-box-shadow: -314px 0 0 0 rgba(216, 217, 221, 0.3);
              box-shadow: -314px 0 0 0 rgba(216, 217, 221, 0.3); }
  .header > .container {
    min-height: 60px; }
  .header__sidebar {
    top: 201px;
    right: calc(100% * 74 / 1440 + 7px); } }

.nav-main__wrapper {
  position: absolute;
  top: -20px;
  left: 0;
  padding-top: 120px;
  padding-bottom: 40px;
  padding-left: 15px;
  width: 100%;
  font-family: "Gotham Pro", "Arial", sans-serif;
  background-color: #272327;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: 2; }

.nav-main__toggle {
  position: absolute;
  top: 17px;
  right: 7.8125%;
  font-size: 0;
  background-color: transparent;
  border: none;
  z-index: 3; }

.header__nav--opened .nav-main__toggle {
  width: 16px;
  height: 16px; }
  .header__nav--opened .nav-main__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .header__nav--opened .nav-main__toggle::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.header__nav--closed .nav-main__toggle {
  width: 18px;
  height: 16px; }
  .header__nav--closed .nav-main__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-box-shadow: 0 7px 0 0 white, 0 14px 0 0 white;
            box-shadow: 0 7px 0 0 white, 0 14px 0 0 white; }

.header__nav--closed .nav-main__wrapper {
  -webkit-transform: translateY(-569px);
          transform: translateY(-569px); }

.header__nav--opened .nav-main__wrapper {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px); }

.nav-main__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-main__item:not(:last-of-type) {
  margin-bottom: 24px; }

.nav-main__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: white; }

.nav-main__contacts {
  display: block;
  margin-top: 116px;
  margin-left: 1px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: white; }

@media (min-width: 768px) {
  .nav-main {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    width: 100%; }
  .nav-main__toggle {
    display: none; }
  .nav-main .nav-main__wrapper {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    height: 100%;
    background-color: transparent;
    -webkit-transition-duration: 0;
            transition-duration: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .nav-main__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    margin-left: 2.60417%;
    width: 100%; }
  .nav-main__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch; }
  .nav-main__item:not(:last-of-type) {
    margin-right: 40px;
    margin-bottom: 0; }
  .nav-main__item--main,
  .nav-main__item--news {
    display: none; }
  .nav-main__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7; }
  .nav-main__contacts {
    position: absolute;
    right: 0;
    bottom: -50px;
    margin: 0; }
  .nav-main__address {
    display: none; }
  .nav-main__phone {
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    opacity: 0.8; } }

@media (min-width: 1440px) {
  .nav-main__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .nav-main__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    margin-right: 40px; }
  .nav-main__item:not(:last-of-type) {
    margin-right: 45px;
    margin-bottom: 0; }
  .nav-main__list > .nav-main__item--complex {
    margin-right: 41px; }
  .nav-main__link {
    font-size: 15px;
    line-height: 23px; }
  .nav-main__contacts {
    position: static;
    bottom: 0;
    margin-right: 1px;
    min-width: 126px; } }

.language {
  display: none; }

@media (min-width: 768px) {
  .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    padding: 0;
    width: 70px;
    list-style: none; }
  .language__link {
    font-family: "Gotham Pro", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    color: white;
    opacity: 0.5; }
  .language__item--selected .language__link {
    opacity: 1; } }

.social {
  display: none; }

@media (min-width: 768px) {
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    margin-right: 50px;
    padding: 0;
    width: 155px;
    list-style: none; }
  .social__link {
    font-family: "Gotham Pro", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    color: white;
    opacity: 0.5; } }

@media (min-width: 1440px) {
  .social {
    margin-right: 81px; } }

.promo {
  position: relative;
  width: 100%;
  min-height: 568px;
  font-family: "Gotham Pro", "Arial", sans-serif;
  color: white;
  overflow: hidden; }

.promo__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }

.promo__item {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition-duration: 2s;
          transition-duration: 2s; }

.promo__item--selected {
  position: relative;
  opacity: 1; }

.promo__item .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 227px;
  width: 100%;
  min-height: 568px; }

.promo__item--1 .container {
  background-color: black; }

.promo__item--2 .container {
  background-color: brown; }

.promo__item--3 .container {
  background-color: green; }

.promo__title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  margin-top: 8px;
  max-width: 270px;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2px; }

.promo__subtitle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  max-width: 270px;
  font-size: 14px;
  font-weight: 500;
  line-height: 13px; }

.promo__descriptor {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 0;
  margin-top: 40px;
  max-width: 270px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px; }

.promo__img {
  position: absolute; }

@media (min-width: 768px) {
  .promo__title {
    margin-top: 8px;
    max-width: 370px;
    font-size: 34px;
    line-height: 32px; }
  .promo__subtitle {
    max-width: 370px; }
  .promo__descriptor {
    max-width: 370px; } }

@media (min-width: 1440px) {
  .promo__item .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 396px;
    padding-bottom: 404px;
    width: 100%;
    height: 568px; }
  .promo__title {
    margin-top: 10px;
    max-width: 500px;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 0.4px; }
  .promo__subtitle {
    max-width: 500px; }
  .promo__descriptor {
    margin-top: 30px;
    max-width: 500px; } }

.control {
  display: none; }

@media (min-width: 768px) {
  .control {
    position: absolute;
    bottom: 110px;
    left: calc(100% * 36 / 768 + 15px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Gotham Pro", "Arial", sans-serif;
    z-index: 20; }
  .control input[type="radio"] {
    display: none; }
  .control__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; }
  .control__item:not(:last-of-type) {
    margin-right: 30px; }
  .control__switch {
    position: relative;
    display: block;
    margin: 0;
    padding: 8px 0 9px 0;
    width: 10px;
    font-family: "Gotham Pro", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    color: white;
    text-align: center;
    background-color: transparent;
    border: none;
    opacity: 0.7;
    cursor: pointer; }
  .control__item .control__switch::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -15px;
    height: 1px;
    width: 40px;
    background-color: white;
    opacity: 0.5; }
  .control__item--selected .control__switch::before {
    opacity: 1; }
  .control__button {
    margin: 0;
    padding: 0;
    width: 7px;
    height: 12px;
    font-size: 0;
    background-color: transparent;
    border: none;
    background-image: url("https://via.placeholder.com/7x12");
    cursor: pointer; }
  .control__button--prev {
    margin-left: 35px; }
  .control__button--next {
    margin-left: 30px; } }

@media (min-width: 1440px) {
  .control {
    bottom: 188px;
    left: calc(100% * 74 / 1440 + 15px); } }

.service {
  margin-top: -104px; }

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.service__item {
  width: 100%; }

.service__item--select {
  margin-bottom: 6px; }

.service__item--counter {
  display: none; }

.service__item--select .service__link,
.service__item--preview .service__link {
  position: relative; }
  .service__item--select .service__link::before,
  .service__item--preview .service__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 252px;
    width: 38px;
    height: 38px;
    background-color: rgba(123, 101, 66, 0.3);
    border-radius: 50%; }
  .service__item--select .service__link::after,
  .service__item--preview .service__link::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 256px;
    width: 30px;
    height: 30px;
    border: 1px solid #6e5d43;
    border-radius: 50%; }

.service__item--preview .service__link::before {
  top: 2px; }

.service__item--preview .service__link::after {
  top: 6px; }

.service__link {
  display: block;
  padding: 8px 0 9px 0;
  font-family: "Gotham Pro", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: white;
  opacity: 0.7; }

@media (min-width: 768px) {
  .service {
    margin-top: -71px; }
  .service__item {
    width: 300px; }
  .service__list {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .service__item--select .service__link::before {
    top: 2px;
    left: 262px; }
  .service__item--select .service__link::after {
    top: 6px;
    left: 266px; }
  .service__item--preview .service__link::before {
    top: 2px;
    left: 264px; }
  .service__item--preview .service__link::after {
    top: 6px;
    left: 268px; }
  .service__link:not(.service__item--counter .service__link) {
    width: 300px; } }

@media (min-width: 1440px) {
  .service__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .service__item {
    width: calc(100% / 3); }
  .service__item--counter {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .service__item--counter::before {
      content: "";
      position: absolute;
      top: -9px;
      right: calc(-30vw - 84px);
      width: calc(400px + 30vw);
      height: 80px;
      background-color: white;
      z-index: 1; }
  .service__link {
    width: 300px;
    display: block; }
  .service__item--preview .service__link {
    margin-left: 9px; }
  .service__item--counter .service__link {
    padding: 19px 0 29px 40px;
    width: 316px;
    background-color: white;
    opacity: 1;
    color: gray;
    z-index: 1; }
  .service__item:not(:first-of-type) .service__link {
    padding-right: 0;
    text-align: left; }
  .service__counter {
    margin-left: 9px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #7b6542; } }

.complex {
  font-family: "Gotham Pro", "Arial", sans-serif;
  background-color: white; }

.complex__text-content {
  min-width: 320px;
  padding: 39px 4.6875% 0; }

.complex__chapter {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 13px;
  color: #272327; }

.complex__slogan {
  margin: 0;
  margin-top: 8px;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  color: #272327; }

.complex__descriptor {
  margin: 0;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-indent: 4px;
  color: gray; }

.complex__welcome {
  display: block;
  margin-top: 23px;
  text-indent: 0; }

.complex__link {
  display: block;
  margin-top: 26px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #7b6542; }

.complex__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  width: 100%;
  max-height: 500px;
  overflow: hidden; }

@media (min-width: 768px) {
  .complex {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 500px; }
    .complex::before {
      content: "";
      position: absolute;
      bottom: -1px;
      right: 400px;
      width: calc(100% - 400px - 100% * 15 / 320);
      height: 1px;
      background-color: #d8d8d8; }
  .complex__text-content {
    padding-top: 100px;
    padding-right: 0;
    width: 48.17708%; }
  .complex__slogan {
    font-size: 24px; }
  .complex__link {
    display: inline-block; }
  .complex__frame {
    margin-top: 0;
    width: 390px; } }

@media (min-width: 1440px) {
  .complex::before {
    left: 5.13889%;
    right: 0;
    width: calc(960px + 100% - 200% * 74 / 1440 - 1290px); }
  .complex__text-content {
    padding-top: 119px;
    padding-left: 5.13889%; }
  .complex__slogan {
    margin-top: 10px;
    margin-left: -1px; }
  .complex__descriptor {
    margin-top: 40px;
    margin-left: -1px; }
  .complex__link {
    margin-top: 53px;
    padding-left: 1px; }
  .complex__frame {
    width: calc(390px + 100% * 74 / 1440 - 74px); } }
