@font-face {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff"); }

@font-face {
  font-family: "Gotham Pro";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"); }

@font-face {
  font-family: "Playfair Display";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2); }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0; }

.container {
  min-width: 320px;
  padding: 0 4.6875%; }

@media (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 4.6875%; } }

@media (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding: 0 5.13889%; } }

.header {
  position: fixed;
  margin-top: 20px;
  width: 100%;
  background-color: #272327; }

.header > .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  border-top: 1px solid rgba(185, 185, 185, 0.17);
  border-bottom: 1px solid rgba(185, 185, 185, 0.17); }

.header__link {
  position: relative;
  display: block;
  font-size: 0;
  z-index: 1; }

@media (min-width: 768px) {
  .header > .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__sidebar {
    position: absolute;
    top: 250px;
    right: -95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }

@media (min-width: 1440px) {
  .header__sidebar {
    top: 280px;
    right: -60px; } }

.nav-main__wrapper {
  position: absolute;
  top: -20px;
  left: 0;
  padding-top: 120px;
  padding-bottom: 40px;
  padding-left: 15px;
  width: 100%;
  background-color: #272327;
  font-family: "Gotham Pro", "Arial", sans-serif;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.nav-main__toggle {
  position: absolute;
  top: 17px;
  right: 4.6875%;
  font-size: 0;
  background-color: transparent;
  border: none;
  z-index: 1; }

.header__nav--opened .nav-main__toggle {
  width: 16px;
  height: 16px; }
  .header__nav--opened .nav-main__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .header__nav--opened .nav-main__toggle::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.header__nav--closed .nav-main__toggle {
  width: 18px;
  height: 16px; }
  .header__nav--closed .nav-main__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-box-shadow: 0 7px 0 0 white, 0 14px 0 0 white;
            box-shadow: 0 7px 0 0 white, 0 14px 0 0 white; }

.header__nav--closed .nav-main__wrapper {
  -webkit-transform: translateY(-569px);
          transform: translateY(-569px); }

.header__nav--opened .nav-main__wrapper {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px); }

.nav-main__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-main__item:not(:last-of-type) {
  margin-bottom: 24px; }

.nav-main__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: white; }

.nav-main__contacts {
  display: block;
  margin-top: 116px;
  margin-left: 1px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: white; }

@media (min-width: 768px) {
  .nav-main {
    width: 100%; }
  .nav-main__toggle {
    display: none; }
  .nav-main .nav-main__wrapper {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    -webkit-transition-duration: 0;
            transition-duration: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .nav-main__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 2.60417%;
    width: 100%; }
  .nav-main__item:not(:last-of-type) {
    margin-right: 10px;
    margin-bottom: 0; }
  .nav-main__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7; }
  .nav-main__contacts {
    position: absolute;
    right: 0;
    bottom: -50px;
    margin: 0; }
  .nav-main__address {
    display: none; }
  .nav-main__phone {
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    opacity: 0.8; } }

@media (min-width: 1440px) {
  .nav-main__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .nav-main__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    margin-right: 40px; }
  .nav-main__item:not(:last-of-type) {
    margin-right: 40px;
    margin-bottom: 0; }
  .nav-main__link {
    font-size: 15px;
    line-height: 23px; }
  .nav-main__contacts {
    position: static;
    bottom: 0;
    min-width: 126px; } }

.language {
  display: none; }

@media (min-width: 768px) {
  .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    padding: 0;
    width: 71px;
    list-style: none; }
  .language__link {
    font-family: "Gotham Pro", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    color: white;
    opacity: 0.5; }
  .language__item--selected .language__link {
    opacity: 1; } }

.social {
  display: none; }

@media (min-width: 768px) {
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    margin-right: 50px;
    padding: 0;
    width: 157px;
    list-style: none; }
  .social__link {
    font-family: "Gotham Pro", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    color: white;
    opacity: 0.5; } }
