@font-face {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff"); }

@font-face {
  font-family: "Gotham Pro";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"); }

@font-face {
  font-family: "Playfair Display";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff"); }

html {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  height: 3000px; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0; }

.container {
  min-width: 320px;
  padding: 0 4.6875%; }

.button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #7b6542;
  font-family: "Gotham Pro", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: white;
  cursor: pointer; }

@media (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 4.6875%; } }

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 74px; } }

.header {
  position: fixed;
  top: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 2; }

.header > .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  border-top: 1px solid rgba(185, 185, 185, 0.17);
  border-bottom: 1px solid rgba(185, 185, 185, 0.17); }
  .header > .container::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 4.6875%;
    width: 1px;
    height: 100vh;
    background-color: rgba(216, 217, 221, 0.3); }
  .header > .container::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 4.6875%;
    width: 1px;
    height: 100vh;
    background-color: rgba(216, 217, 221, 0.3); }

.header__link {
  position: relative;
  display: block;
  font-size: 0;
  z-index: 3; }

.header__icon {
  margin-left: 1px;
  width: 72px;
  height: 40px; }

.header__icon use {
  fill: white;
  opacity: 0.8; }

@media (min-width: 768px) {
  .header > .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__sidebar {
    position: absolute;
    top: 150px;
    right: calc(100% * 36 / 768 + 6px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform-origin: 100%;
            transform-origin: 100%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }

@media (min-width: 1440px) {
  .header {
    top: 35px;
    right: 0; }
  .header > .container {
    min-height: 60px; }
    .header > .container::before {
      top: -35px;
      left: 5.13889%;
      height: 100vh;
      -webkit-box-shadow: 315px 0 0 0 rgba(216, 217, 221, 0.3);
              box-shadow: 315px 0 0 0 rgba(216, 217, 221, 0.3); }
    .header > .container::after {
      top: -35px;
      right: 5.20833%;
      height: 100vh;
      -webkit-box-shadow: -314px 0 0 0 rgba(216, 217, 221, 0.3);
              box-shadow: -314px 0 0 0 rgba(216, 217, 221, 0.3); }
  .header__link {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 6px; }
  .header__icon {
    margin-left: 0;
    width: 79px;
    height: 44px; }
  .header__sidebar {
    top: 201px;
    right: calc(100% * 74 / 1440 + 7px); } }

.nav-main__wrapper {
  position: absolute;
  top: -20px;
  left: 0;
  padding-top: 120px;
  padding-bottom: 40px;
  padding-left: 15px;
  width: 100%;
  font-family: "Gotham Pro", "Arial", sans-serif;
  background-color: #272327;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: 1; }

.nav-main__toggle {
  position: absolute;
  top: 17px;
  right: 7.8125%;
  font-size: 0;
  background-color: transparent;
  border: none;
  z-index: 3; }

.header__nav--opened .nav-main__toggle {
  width: 16px;
  height: 16px; }
  .header__nav--opened .nav-main__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .header__nav--opened .nav-main__toggle::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.header__nav--closed .nav-main__toggle {
  width: 18px;
  height: 16px; }
  .header__nav--closed .nav-main__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-box-shadow: 0 7px 0 0 white, 0 14px 0 0 white;
            box-shadow: 0 7px 0 0 white, 0 14px 0 0 white; }

.header__nav--closed .nav-main__wrapper {
  -webkit-transform: translateY(-569px);
          transform: translateY(-569px);
  opacity: 0.5; }

.header__nav--opened .nav-main__wrapper {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  opacity: 1; }

.nav-main__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-main__item:not(:last-of-type) {
  margin-bottom: 24px; }

.nav-main__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: white; }

.nav-main__contacts {
  display: block;
  margin-top: 116px;
  margin-left: 1px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: white; }

@media (min-width: 768px) {
  .nav-main {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    width: 100%; }
  .nav-main__toggle {
    display: none; }
  .nav-main .nav-main__wrapper {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    height: 100%;
    background-color: transparent;
    -webkit-transition-duration: 0;
            transition-duration: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .nav-main__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    margin-left: 2.60417%;
    width: 100%; }
  .nav-main__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch; }
  .nav-main__item:not(:last-of-type) {
    margin-right: 40px;
    margin-bottom: 0; }
  .nav-main__item--main,
  .nav-main__item--news {
    display: none; }
  .nav-main__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7; }
  .nav-main__contacts {
    position: absolute;
    right: 0;
    bottom: -50px;
    margin: 0; }
  .nav-main__address {
    display: none; }
  .nav-main__phone {
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    opacity: 0.8; } }

@media (min-width: 1440px) {
  .nav-main__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .nav-main__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    margin-right: 40px; }
  .nav-main__item:not(:last-of-type) {
    margin-right: 45px;
    margin-bottom: 0; }
  .nav-main__list > .nav-main__item--complex {
    margin-right: 41px; }
  .nav-main__link {
    font-size: 15px;
    line-height: 23px; }
  .nav-main__contacts {
    position: static;
    bottom: 0;
    margin-right: 1px;
    min-width: 126px; } }

.language {
  display: none; }

@media (min-width: 768px) {
  .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    padding: 0;
    width: 70px;
    list-style: none; }
  .language__link {
    font-family: "Gotham Pro", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    color: white;
    opacity: 0.5; }
  .language__item--selected .language__link {
    opacity: 1; } }

.social {
  display: none; }

@media (min-width: 768px) {
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    margin-right: 50px;
    padding: 0;
    width: 155px;
    list-style: none; }
  .social__link {
    font-family: "Gotham Pro", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 13px;
    color: white;
    opacity: 0.5; } }

@media (min-width: 1440px) {
  .social {
    margin-right: 81px; } }

.promo {
  position: relative;
  width: 100%;
  min-height: 568px;
  font-family: "Gotham Pro", "Arial", sans-serif;
  color: white;
  overflow: hidden; }

.promo__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }

.promo__item {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition-duration: 2s;
          transition-duration: 2s; }
  .promo__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); }

.promo__item--selected {
  position: relative;
  opacity: 1; }

.promo__item .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 227px;
  width: 100%;
  min-height: 568px; }

.promo__item--1 {
  background-color: black;
  background-image: url("../img/index__promo-slide1@1x.jpg");
  background-position: calc(50%) calc(50% + 1px);
  background-size: cover;
  background-repeat: no-repeat; }

.promo__item--2 {
  background-color: brown; }

.promo__item--3 {
  background-color: green; }

.promo__title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  margin-top: 8px;
  max-width: 270px;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2px; }

.promo__subtitle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  max-width: 270px;
  font-size: 14px;
  font-weight: 500;
  line-height: 13px; }

.promo__descriptor {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 0;
  margin-top: 40px;
  max-width: 270px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px; }

.promo__img {
  position: absolute; }

@media (min-width: 768px) {
  .promo__title {
    margin-top: 8px;
    max-width: 370px;
    font-size: 34px;
    line-height: 32px; }
  .promo__subtitle {
    max-width: 370px; }
  .promo__descriptor {
    max-width: 370px; } }

@media (min-width: 1440px) {
  .promo__item .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1440px;
    padding-top: 396px;
    padding-bottom: 259px; }
  .promo__title {
    margin-top: 10px;
    max-width: 500px;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 0.4px; }
  .promo__subtitle {
    padding-left: 1px;
    max-width: 500px; }
  .promo__descriptor {
    margin-top: 30px;
    max-width: 500px; } }

.control {
  display: none; }

@media (min-width: 768px) {
  .control {
    position: absolute;
    bottom: 110px;
    left: calc(100% * 36 / 768 + 15px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Gotham Pro", "Arial", sans-serif;
    z-index: 20; }
  .control input[type="radio"] {
    display: none; }
  .control__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; }
  .control__item:not(:last-of-type) {
    margin-right: 30px; }
  .control__switch {
    position: relative;
    display: block;
    margin: 0;
    padding: 8px 0 9px 0;
    width: 10px;
    font-family: "Gotham Pro", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    color: white;
    text-align: center;
    background-color: transparent;
    border: none;
    opacity: 0.7;
    cursor: pointer; }
  .control__item .control__switch::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -15px;
    height: 1px;
    width: 40px;
    background-color: white;
    opacity: 0.5; }
  .control__item--selected .control__switch::before {
    opacity: 1; }
  .control__button {
    margin: 0;
    padding: 0;
    width: 7px;
    height: 12px;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer; }
  .control__button--prev {
    margin-left: 35px; }
  .control__button--prev .control__icon {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .control__button--block {
    opacity: 0.5;
    pointer-events: none; }
  .control__button--next {
    margin-left: 30px; }
  .control__icon use {
    fill: white; } }

@media (min-width: 1440px) {
  .control {
    bottom: 188px;
    left: calc(50% - 631px); } }

.service {
  margin-top: -104px; }

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.service__item {
  width: 100%; }

.service__item--select {
  margin-bottom: 6px; }

.service__item--counter {
  position: relative;
  display: none; }

.service__item--select .service__link,
.service__item--preview .service__link {
  position: relative; }
  .service__item--select .service__link::before,
  .service__item--preview .service__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 252px;
    width: 38px;
    height: 38px;
    background-color: rgba(123, 101, 66, 0.3);
    border-radius: 50%; }
  .service__item--select .service__link::after,
  .service__item--preview .service__link::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 256px;
    width: 30px;
    height: 30px;
    border: 1px solid #6e5d43;
    border-radius: 50%; }

.service__item--preview .service__link::before {
  top: 2px; }

.service__item--preview .service__link::after {
  top: 6px; }

.service__link {
  display: block;
  padding: 8px 0 9px 0;
  font-family: "Gotham Pro", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: white; }

.service__link span {
  opacity: 0.7; }

.service__icon {
  position: absolute;
  top: 15px;
  left: 269px;
  stroke: #7b6542; }

.service__item--preview .service__icon {
  top: 17px; }

.service__icon use {
  fill: #7b6542; }

.service__link .service__icon--counter {
  top: 27px;
  right: 4px;
  left: auto;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

@media (min-width: 768px) {
  .service {
    margin-top: -71px; }
  .service__item {
    width: 300px; }
  .service__list {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .service__item--select .service__link::before {
    top: 2px;
    left: 262px; }
  .service__item--select .service__link::after {
    top: 6px;
    left: 266px; }
  .service__item--preview .service__link::before {
    top: 2px;
    left: 264px; }
  .service__item--preview .service__link::after {
    top: 6px;
    left: 268px; }
  .service__link:not(.service__item--counter .service__link) {
    width: 300px; }
  .service__icon {
    position: absolute;
    top: 17px;
    left: 279px; }
  .service__item--preview .service__icon {
    left: 280px; } }

@media (min-width: 1440px) {
  .service__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .service__item {
    width: calc(100% / 3); }
  .service__item--counter {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .service__item--counter::before {
      content: "";
      position: absolute;
      top: -9px;
      right: calc(-30vw - 84px);
      width: calc(400px + 30vw);
      height: 80px;
      background-color: white;
      z-index: 1; }
  .service__link {
    width: 300px;
    display: block; }
  .service__item--preview .service__link {
    margin-left: 9px; }
  .service__item--counter .service__link {
    padding: 19px 0 29px 40px;
    width: 316px;
    background-color: white;
    opacity: 1;
    color: gray;
    z-index: 1; }
  .service__item:not(:first-of-type) .service__link {
    padding-right: 0;
    text-align: left; }
  .service__icon {
    top: 17px;
    left: 279px; }
  .service__item--preview .service__icon {
    left: 281px; }
  .service__counter {
    margin-left: 9px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #7b6542; } }

.complex {
  position: relative;
  font-family: "Gotham Pro", "Arial", sans-serif;
  background-color: white; }

.complex .container {
  min-height: 955px; }

.complex__text-content {
  padding-top: 39px;
  max-width: 290px; }

.complex__chapter {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 13px;
  color: #272327; }

.complex__slogan {
  margin: 0;
  margin-top: 8px;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  color: #272327; }

.complex__descriptor {
  margin: 0;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-indent: 4px;
  color: gray; }

.complex__welcome {
  display: block;
  margin-top: 23px;
  text-indent: 0; }

.complex__link {
  position: relative;
  display: block;
  margin-top: 26px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #7b6542; }

.complex__icon {
  position: absolute;
  top: 6px;
  right: 0; }

.complex__frame {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  width: 100%;
  max-height: 500px;
  overflow: hidden; }

@media (min-width: 768px) {
  .complex {
    padding-right: 0;
    min-height: 500px; }
    .complex::before {
      content: "";
      position: absolute;
      bottom: -1px;
      right: calc(100% * 36 / 768 + 400px);
      width: calc(100% - 400px - 100% * 15 / 320 - 100% * 36 / 768);
      height: 1px;
      background-color: #d8d8d8; }
  .complex .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: auto; }
  .complex__text-content {
    padding-top: 100px;
    max-width: 100%;
    width: 48.17708%; }
  .complex__slogan {
    font-size: 24px; }
  .complex__link {
    display: inline-block; }
  .complex__icon {
    top: 6px;
    right: -42px; }
  .complex__frame {
    position: static;
    margin-top: 0;
    width: 390px; } }

@media (min-width: 1440px) {
  .complex {
    position: relative; }
    .complex::before {
      left: calc(50% - 645px);
      width: 960px; }
  .complex .container {
    padding-right: 0; }
  .complex__text-content {
    padding-top: 119px; }
  .complex__chapter {
    margin-left: -1px; }
  .complex__slogan {
    margin-top: 10px;
    margin-left: -1px; }
  .complex__descriptor {
    margin-top: 40px;
    margin-left: -1px; }
  .complex__link {
    margin-top: 53px;
    padding-left: 1px; }
  .complex__frame {
    right: calc(50% - 720px); } }

.environment .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 37px; }

.environment__alert {
  display: none; }

.environment__selector {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  overflow: hidden;
  border: 0;
  outline: 0;
  opacity: 0; }

.environment__3d,
.environment__google,
.environment__benefits {
  display: none; }

.environment__selector--3d:checked ~ .environment__3d,
.environment__selector--google:checked ~ .environment__google,
.environment__selector--benefits:checked ~ .environment__benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.environment__title {
  position: relative;
  margin-left: -1px;
  padding-bottom: 19px;
  font-family: "Gotham Pro", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #b9b9b9;
  z-index: 2; }

.environment__selector:checked + .environment__title {
  position: relative;
  color: #7b6542; }
  .environment__selector:checked + .environment__title::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #7b6542; }

.environment__title:not(:last-of-type) {
  margin-right: 71px; }

.environment__title:last-of-type {
  margin-left: 0; }

.environment__descriptor {
  padding-top: 79px;
  padding-left: 25px;
  width: 316px;
  font-family: "Gotham Pro", "Arial", sans-serif; }

.environment__location {
  position: relative;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #7b6542; }
  .environment__location::before {
    content: "";
    position: absolute;
    top: -2px;
    right: 2px;
    width: 24px;
    height: 24px;
    border: 2px solid #7b6542; }

.environment__icon {
  position: absolute;
  top: 6px;
  right: 10px; }

.environment__icon use {
  fill: #7b6542; }

.environment__icon--list {
  top: 11px;
  left: 11px; }

.environment__icon--list use {
  fill: white; }

.environment__details {
  margin: 0;
  margin-top: 35px;
  font-size: 15px;
  line-height: 23px;
  color: gray; }

.environment__button {
  margin-right: 1px;
  margin-left: auto;
  padding: 25px 25px 24px 25px;
  width: 315px;
  text-align: center; }

@media (max-width: 1439px) {
  .environment__descriptor {
    display: none; }
  .environment__button {
    margin-left: calc(977px - 316px); } }

@media (max-width: 1080px) {
  .environment > .container > .environment__google,
  .environment > .container > .environment__3d,
  .environment__selector + .environment__title {
    display: none; }
  .environment > .container > .environment__benefits {
    display: block;
    margin-top: 20px;
    width: 100%; }
  .environment > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .environment__alert {
    display: block;
    margin: 13px auto 0 auto;
    width: 290px;
    font-family: "Gotham Pro", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #b9b9b9;
    text-align: center; }
  .environment__button {
    margin-top: 30px;
    margin-left: calc(50% - 290px / 2);
    width: 290px; } }

@media (max-width: 767px) {
  .environment > .container {
    overflow: hidden; } }

.map {
  margin-left: -1px;
  width: 977px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.65);
  background-image: url("../img/index__3d-bg@1x.jpg");
  background-position: 50% 50%;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .map {
      background-image: url("../img/index__3d-bg@2x.jpg"); } }

.map__marks {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none; }

.map__mark {
  position: absolute;
  max-width: 166px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px; }

.map__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 41px;
  min-height: 32px;
  color: white;
  text-transform: lowercase; }
  .map__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.65);
    border: 2px solid white; }

.map__mark--1 {
  top: 32.36364%;
  left: 8.80246%; }

.map__mark--2 {
  top: 55.45455%;
  left: 11.77073%; }

.map__mark--3 {
  top: 68.54545%;
  left: 3.27533%; }

.map__mark--4 {
  top: 83.45455%;
  left: 11.56602%; }

.map__mark--5 {
  top: 18.72727%;
  left: 22.72262%; }

.map__mark--6 {
  top: 46.72727%;
  left: 29.06858%; }

.map__mark--7 {
  top: 67.09091%;
  left: 30.09212%; }

.map__mark--8 {
  top: 18.72727%;
  left: 45.95701%; }

.map__mark--9 {
  top: 32.72727%;
  left: 43.50051%; }

.map__mark--10 {
  top: 46.18182%;
  left: 52.09826%; }

.map__mark--11 {
  top: 67.45455%;
  left: 58.85363%; }

.map__mark--12 {
  top: 81.27273%;
  left: 50.46059%; }

.map__mark--13 {
  top: 12.18182%;
  left: 76.15148%; }

.map__mark--14 {
  top: 31.63636%;
  left: 79.22211%; }

.map__mark--15 {
  top: 51.09091%;
  left: 73.08086%; }

.map__mark--16 {
  top: 63.09091%;
  left: 82.29273%; }

.map__mark--17 {
  top: 75.81818%;
  left: 79.63153%; }

.google__map {
  margin-left: -1px;
  width: 977px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.65); }

.google__comment {
  padding-top: 79px;
  padding-left: 25px;
  width: 316px;
  font-family: "Gotham Pro", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: gray; }

@media (max-width: 1439px) {
  .google__comment {
    display: none; } }

.benefits {
  margin-left: -1px; }

.benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 51px;
  width: 977px;
  min-height: 550px;
  background-color: #272327; }

.benefits__title {
  margin: 0;
  width: 100%;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: white; }

.benefits__slogan {
  margin: 0;
  margin-top: 21px;
  width: 100%;
  font-family: "Gotham Pro", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: white; }

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 53px;
  padding: 0;
  list-style: none; }

.benefits__list:first-of-type {
  margin-right: 60px; }

.benefits__item {
  position: relative;
  width: 340px;
  margin-bottom: 23px; }

.benefits__switch {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  overflow: hidden;
  border: 0;
  outline: 0;
  opacity: 0; }

.benefits__feature {
  position: relative;
  display: block;
  font-family: "Gotham Pro", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: white;
  background-color: #272327;
  z-index: 1; }
  .benefits__feature::before {
    content: "";
    position: absolute;
    top: -3px;
    right: 50px;
    width: 24px;
    height: 24px;
    border: 2px solid white;
    opacity: 0.5;
    z-index: 1; }

.benefits__icon {
  position: absolute;
  top: 3px;
  right: 59px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  z-index: 1;
  pointer-events: none; }

.benefits__icon use {
  fill: white;
  opacity: 0.5;
  -webkit-transform-origin: 100%;
          transform-origin: 100%; }

.benefits__content {
  position: absolute;
  margin: 0;
  margin-top: 10px;
  padding-right: 70px;
  width: 340px;
  font-family: "Gotham Pro", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: white;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  pointer-events: none; }

.benefits__switch:checked ~ .benefits__content {
  position: static;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: auto; }

.benefits__switch:checked + .benefits__feature::before {
  opacity: 1; }

.benefits__switch:checked ~ .benefits__icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.benefits__switch:checked ~ .benefits__icon use {
  opacity: 1; }

.benefits__details {
  padding-top: 79px;
  padding-right: 10px;
  padding-bottom: 80px;
  padding-left: 25px;
  width: 316px;
  font-family: "Gotham Pro", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: gray; }

@media (max-width: 1439px) {
  .benefits__details {
    display: none; } }

@media (max-width: 1080px) {
  .benefits__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .benefits__list:first-of-type {
    margin-right: 0; }
  .benefits__list:last-of-type {
    margin-top: 0; } }

@media (max-width: 767px) {
  .benefits__wrapper {
    position: relative;
    margin-top: 30px;
    padding-right: 0;
    padding-bottom: 27px;
    padding-left: 0;
    text-align: left; }
    .benefits__wrapper::before {
      content: "";
      position: absolute;
      top: 0;
      left: -25vw;
      width: 50vw;
      height: 100%;
      background-color: #272327; }
    .benefits__wrapper::after {
      content: "";
      position: absolute;
      top: 0;
      right: -25vw;
      width: 50vw;
      height: 100%;
      background-color: #272327; }
  .benefits__title,
  .benefits__slogan {
    position: relative;
    width: 290px;
    z-index: 2; }
  .benefits__title {
    padding-left: 1px;
    font-size: 21px;
    line-height: 24px; }
  .benefits__slogan {
    margin-top: 30px;
    padding-left: 1px; }
  .benefits__list {
    padding-left: 1px;
    width: 290px; }
  .benefits__list:first-of-type {
    margin-top: 43px; }
  .benefits__item {
    width: 290px; }
  .benefits__feature::before {
    content: "";
    position: absolute;
    top: -3px;
    right: 0; }
  .benefits__icon {
    position: absolute;
    top: 3px;
    right: 9px; }
  .benefits__content {
    width: 100%;
    padding-right: 10px; } }
