.gallery {
  position: relative;
  padding-bottom: 41px;
}

.gallery__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__item {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery__img {
  max-width: 100%;
  min-height: 193px;
  max-height: 600px;
}

.gallery .slick-dots {
  position: absolute;
  bottom: -41px;
  left: calc(50% - 129px);
  max-width: 300px;
  z-index: 1;
}

.gallery .slick-arrow {
  bottom: -32px;
  right: calc(50% - 145px);
}

.gallery .slick-prev {
  right: calc(50% - 145px + 37px);
}

@media (min-width: $width__tablet) {
  .gallery {
    position: relative;
    padding-bottom: 0;
    width: 696px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 409px;
      height: 60px;
      background-color: $background__light;
      z-index: 1;
    }
  }

  .gallery .slick-dots {
    position: absolute;
    bottom: 19px;
    left: 350px;
    z-index: 1;
  }

  .gallery .slick-arrow {
    bottom: 28px;
    right: 0;
  }

  .gallery .slick-prev {
    right: 37px;
  }
}

@media (min-width: $width__desktop) {
  .gallery {
    width: 960px;
  }

  .gallery .slick-dots {
    bottom: 19px;
    left: 687px;
  }

  .gallery .slick-arrow {
    bottom: 28px;
    right: -1px;
  }

  .gallery .slick-prev {
    right: 36px;
  }
}
