.gallery__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
  transition-duration: 1s;
  opacity: 0;
  z-index: -1;
}

.gallery__item--selected {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.gallery__img {
  max-width: 100%;
  min-height: 193px;
  max-height: 600px;
}

.gallery__control {
  display: flex;
  align-items: center;
  margin-top: 11px;
  margin-left: 31px;
  font-family: $font-family__main;
}

.gallery__control input[type="radio"] {
  display: none;
}

.gallery__control .control__list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery__control .control__item:not(:last-of-type) {
  margin-right: 30px;
}

.gallery__control .control__switch {
  position: relative;
  display: block;
  margin: 0;
  padding: 8px 0 9px 0;
  width: 10px;
  font-family: $font-family__main;
  font-size: 14px;
  font-weight: 500;
  line-height: 13px;
  color: $font-color__highlight;
  text-align: center;
  background-color: transparent;
  border: none;
  opacity: 0.7;
  cursor: pointer;
}

.gallery__control .control__item .control__switch {
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -15px;
    height: 1px;
    width: 40px;
    background-color: $background__highlight;
    opacity: 0.5;
  }
}

.gallery__control .control__item--selected .control__switch {
  &::before {
    opacity: 1;
  }
}

.gallery__control .control__button {
  margin: 0;
  padding: 0;
  width: 7px;
  height: 12px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.gallery__control .control__button--prev {
  margin-left: 45px;
}

.gallery__control .control__button--prev .control__icon {
  transform: rotate(180deg);
}

.gallery__control .control__button--block {
  opacity: 0.5;
  pointer-events: none;
}

.gallery__control .control__button--next {
  margin-left: 30px;
}

.gallery__control .control__icon use {
  fill: $icon-color__highlight;
}

@media (min-width: $width__tablet) {
  .gallery {
    position: relative;
    max-width: 960px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 409px;
      height: 60px;
      background-color: $background__light;
    }
  }

  .gallery__control {
    position: absolute;
    top: auto;
    right: -1px;
    bottom: 19px;
    left: auto;
  }
}
