.feed .container {
  padding-top: 40px;
  padding-bottom: 53px;
  border-bottom: 1px solid $border__input--modal;
}

.feed__list {
  margin: 0 auto;
  padding: 0;
  width: 290px;
  list-style: none;
}

.feed__item {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 365px;
}

.feed__item:not(:last-of-type) {
  margin-bottom: 30px;
}

.feed__item--nonmobile {
  display: none;
}

.feed__frame {
  width: 290px;
  height: 220px;
  overflow: hidden;
}

.feed__img {
  width: 100%;
  height: 100%;
}

.feed__date {
  display: flex;
  margin: 0;
  margin-top: 16px;
}

.feed__day {
  font-family: $font-family__heading;
  font-size: 48px;
  font-weight: 700;
  line-height: 23px;
  color: $font-color__darker2;
}

.feed__wrapper {
  margin-left: 11px;
  padding-top: 3px;
}

.feed__month,
.feed__year {
  display: block;
  font-family: $font-family__main;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $font-color__dark;
}

.feed__descriptor {
  margin-top: 22px;
  padding-right: 5px;
  text-indent: 0;
}

@media (min-width: $width__tablet) {
  .feed .container {
    padding-top: 120px;
    padding-bottom: 53px;
  }

  .feed__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }

  .feed__item {
    margin: 0 10px;
    width: 300px;
  }

  .feed__item--nonmobile {
    display: block;
  }

  .feed__frame {
    width: 300px;
    height: 220px;
  }

  .feed__descriptor {
    padding-right: 0;
  }
}

@media (min-width: $width__desktop) {
  .feed .container {
    padding-bottom: 68px;
  }

  .feed__list {
    position: relative;
    justify-content: space-between;
    padding: 0 1px 30px 1px;

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $border__input--modal;
      box-shadow:
        0 221px 0 0 $border__input--modal,
        0 403px 0 0 $border__input--modal,
        0 624px 0 0 $border__input--modal;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $border__input--modal;
    }
  }

  .feed__item {
    margin: 0;
  }

  .feed__item:not(:last-of-type) {
    margin-bottom: 0;
  }

  .feed__item.feed__item--1 {
    margin-bottom: 41px;
  }

  .feed__item--double {
    width: 630px;
  }

  .feed__item--double .feed__frame {
    width: 630px;
  }
}
