html {
  position: relative;
  box-sizing: border-box;
  overflow: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.container {
  min-width: $width__mobile;
  padding: 0 100% * 15 / 320;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: $background__highlight;
  font-family: $font-family__main;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: $font-color__light;
  cursor: pointer;
}

.chapter {
  margin: 0;
  font-family: $font-family__main;
  font-size: 14px;
  font-weight: 500;
  line-height: 13px;
  color: $font-color__darker;
}

.heading {
  margin: 0;
  font-family: $font-family__heading;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  color: $font-color__darker;
}

.descriptor {
  margin: 0;
  font-family: $font-family__main;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-indent: 4px;
  color: $font-color__dark;
}

.link {
  position: relative;
  display: block;
  font-family: $font-family__main;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: $font-color__highlight;
}

.slide-left-start {
  transform: translateX(-60px);
  opacity: 0;

  &::before {
    opacity: 0;
  }
}

.slide-left-end {
  transition-duration: 1s;
  transform: translateX(0);
  opacity: 1;

  &::before {
    opacity: 1;
    transition-delay: 0.5s;
    transition-duration: 0.8s;
  }
}

.slide-right-start {
  transform: translateX(60px);
  opacity: 0;

  &::before {
    opacity: 0;
  }
}

.slide-right-end {
  transition-duration: 1s;
  transform: translateX(0);
  opacity: 1;

  &::before {
    opacity: 1;
    transition-delay: 0.5s;
    transition-duration: 0.8s;
  }
}

@media (min-width: $width__tablet) {
  .container {
    min-width: $width__tablet;
    padding: 0 100% * 36 / 768;
  }

  .heading {
    font-size: 24px;
  }
}

@media (min-width: $width__desktop) {
  .container {
    width: $width__desktop;
    margin: 0 auto;
    padding: 0 74px;
  }
}
