html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 3000px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.container {
  min-width: $width__mobile;
  padding: 0 100% * 15 / 320;
}

@media (min-width: $width__tablet) {
  .container {
    min-width: $width__tablet;
    padding: 0 100% * 36 / 768;
  }
}

@media (min-width: $width__desktop) {
  .container {
    min-width: $width__desktop;
    padding: 0 100% * 74 / 1440;
  }
}
