$width__mobile: 320px;
$width__tablet: 768px;
$width__desktop: 1440px;

$font-family__main: "Gotham Pro", "Arial", sans-serif;
$font-family__heading: "Playfair Display", "Times New Roman", serif;
$font-family__aux: "Open Sans", "Arial", sans-serif;

$font-color__light: rgb(255, 255, 255);
$font-color__dark: rgb(128, 128, 128);
$font-color__counter: rgb(123, 101, 66);

$background__light: rgb(255, 255, 255);
$background__hover: rgba(0, 0, 0, 0.65);
$background__menu--mobile: rgb(39, 35, 39);
$background__service-icon: rgba(123, 101, 66, 0.3);

$border__main: rgba(216, 217, 221, 0.3);
$border__header: rgba(185, 185, 185, 0.17);
$border__service-icon: rgb(110, 93, 67);

$icon-color__light: rgb(255, 255, 255);
