.options {
  padding: 7px 4px 0 4px;
  width: 290px;
  margin: 0 auto;
}

.options__title {
  font-family: $font-family__main;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: $font-color__darker;
}

.options__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.options__item {
  padding-bottom: 20px;
  border-bottom: 1px solid $border__input--modal;
}

.options__img {
  margin-top: 14px;
  margin-left: 10px;
  width: 275px;
  height: 350px;
}

.options__services {
  display: none;
}

.options__link {
  position: relative;
  padding-left: 41px;
  font-family: $font-family__main;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: $font-color__highlight;
}

.options__notice,
a.options__link--comissioned {
  display: none;
}

.layout__options--comissioned .options__list {
  display: none;
}

.layout__options--comissioned .options__notice,
.layout__options--comissioned .options__link--comissioned {
  display: block;
}

.layout__options--comissioned .options__notice {
  margin-top: 30px;
  text-indent: 0;
}

.layout__options--comissioned .options__link--comissioned {
  margin-top: 50px;
  padding-left: 0;
}

.layout__options--comissioned .layout__icon-construction {
  position: absolute;
  top: 7px;
  right: 20px;
  fill: $icon-color__highlight;
  stroke: $icon-color__highlight;
}

.options .slick-dots {
  margin-top: 16px;
  // max-width: 120px; Удаляем
}

.options .slick-dots > li > button {
  width: 28px; //Добавляем это правило, чтобы нумерация выстраивалась в строку на странице
}

.options .slick-arrow {
  bottom: -25px; //Меняем на -25px
}

.options .slick-prev {
  left: 0; //Обнуляем
  right: auto;
}

.options .slick-next {
  left: 57px; //Меняем на 57рх
  right: auto;
}

@media (min-width: $width__tablet) {
  .options {
    margin: 0;
    padding: 0;
    width: 300px;
  }

  .options__title {
    margin: 0;
  }
}

@media (min-width: $width__desktop) {
  .options {
    margin-left: auto;
  }

  .options__services {
    display: block;
    margin-top: 95px;
  }

  .options__link {
    position: relative;
    display: block;
    padding-left: 41px;
    font-family: $font-family__main;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: $font-color__highlight;
  }

  .options__link--print {
    margin-top: 20px;
  }

  .options__icon {
    position: absolute;
    top: 0;
    left: 0;
    fill: $icon-color__highlight;
  }
}
