.design__intro {
  position: relative;
  background-image: url("../img/design__intro-bg@1x.jpg");
  background-size: cover;

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/design__intro-bg@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background__hover;
  }
}

.design__intro .intro__title {
  position: relative;
}

.design__intro .intro__link {
  display: none;
}

@media (min-width: $width__desktop) {
  .design__intro .intro__link {
    display: block;
    padding-right: 88px;
    padding-left: 30px;
    text-transform: none;
  }

  .design__intro .intro__sold {
    display: inline;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: $font-color__dark;
  }

  .design__intro .intro__counter {
    display: inline;
  }

  .design__intro .intro__icon {
    right: 7px;
  }
}
